html,
* {
  box-sizing: border-box;
  font-size: 36px;
  font-family: monospace;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: gold;
}

.analog-clock {
  position: absolute;
  width: 325px;
  height: 325px;
  border: 5px solid black;
  border-radius: 50% 50%;
  background-color: white;
}

.a-clock-hour {
  position: relative;
  top: 110px;
  left: 50%;
  width: 5px;
  height: 100px;
  background-color: black;
  transform: rotate(var(--hour, 95deg)) translateY(-50%);
}
.a-clock-minutes {
  position: relative;
  top: -15px;
  left: 50%;
  width: 5px;
  height: 150px;
  background-color: black;
  transform: rotate(var(--minutes, 135deg)) translateY(-50%);
}
.a-clock-seconds {
  position: relative;
  top: -165px;
  left: 50%;
  width: 2px;
  height: 150px;
  background-color: black;
  transform: rotate(var(--seconds, 30deg)) translateY(-50%);
}
.bigpoint {
  position: relative;
  top: -250px;
  left: 47%;
  width: 20px;
  height: 20px;
  background-color: black;
  border-radius: 50% 50%;
}

.digital-clock {
  position: relative;
  top: 200px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100px;
  font-size: 40px;
}
.points-hidden {
  visibility: hidden;
}
